<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deemo.hard.mapper.GameMapper">

    <select id="list" resultType="com.deemo.hard.entity.Game">
        SELECT * FROM game
    </select>

    <update id="update" parameterType="com.deemo.hard.entity.Game">
        UPDATE `game` SET `desc` = #{desc} WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.deemo.hard.entity.Game">
        INSERT INTO `game` (`name`, `price`, `desc`) VALUE (#{name}, #{price}, #{desc})
    </insert>

    <select id="get" parameterType="java.lang.Integer" resultType="com.deemo.hard.entity.Game">
        SELECT * FROM `game` WHERE id = #{id}
    </select>
</mapper>